name: Touch cache
description: Touch the cache to keep it alive (github removes caches after 7 days of inactivity)

on:
  workflow_dispatch:

jobs:
  cache-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache dependencies
        uses: actions/cache/restore@v4
        with:
          path: .
          key: cache-create-test
          lookup-only: true
