name: ci-black-formatting

on:
  push:
  pull_request:

jobs:
  lint-formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Action - checkout repository
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv tool install ruff
          uv tool install black
          uv tool install poethepoete

      - name: Black formatter
        id: black
        uses: psf/black@stable
        continue-on-error: true

      # Same check as above, but just for creating github annotations.
      - name: Black formatter annotations
        id: black-annotations
        run: |
          uv tool install black-codeclimate
          pip install github_action_utils
          black --diff --check . | black-codeclimate | python .github/workflows/black_to_github_annotations.py
        continue-on-error: true
  